/*---------------------------------------------------------------
    Core 
--------------------------------------------------------------- */

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background: $noir;
    color: $blanc;
    font: 16px/1.5 $primaryFont, sans-serif;
	min-height: 100vh;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

    &.fixed {
    	overflow: hidden;
    }
}

.container {
	max-width: $full-width;
	margin: 0 auto;
}

/* For lazy loaded elements */
.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

.ld-phonenumber{
    a{
        display: inline-block;
    }
}