/*---------------------------------------------------------------
    Grid
--------------------------------------------------------------- */

.grid {
    width: 100%;
}

@include bp800 {
    .grid {
        float: left;
    }
    @for $i from 1 through 12 {
        $width: percentage($i / 12);
        .grid#{$i}_12 {
            width: $width;
        }
    }
}