/*---------------------------------------------------------------
    Navigation (Desktop)
--------------------------------------------------------------- */

.navigation {
   // display: none;

    @include bp1200 {
        clear: both;
        display: block;
        text-align: center;

        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);

        li {
            display: inline-block;
            position: relative;

            &.menu-item-has-children > a:after {
                content: "\f107";
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: -8px;
                font-family: "icomoon";
            }
        }

        .current-menu-item a,
        .current-menu-parent a {
            color: $vert;
            

            &:hover {
                color: $blanc;
            }

        }

        a {
            display: inline-block;
            text-decoration: none;
            color: lighten($noir,45);
            padding: 20px 9px;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2.5px;

            &:hover {
                color: $blanc;
            }

        }

        .sub-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 100;
            opacity: 0;
            visibility: hidden;
            width: 300px;
            -webkit-transition: .3s;
            transition: .3s;
            box-shadow: 0 0 80px rgba($noir,.75);

            li {
                width: 100%;
                float: left;
            }

            .current-menu-item > a {
                color: $blanc;
                background: darken($vert,20);
            }

            a {
                color: $blanc;
                display: block;
                font-size: 1.4rem;
                border-bottom: 1px solid rgba(255,255,255,.1);
                padding: 10px 20px;
                background: $vert;

                &:hover {
                    color: $blanc;
                    background: darken($vert,10);
                }

            }

            &:hover {
                display: block;
                opacity: 1;
                visibility: visible;
            }

        }

        a:hover + .sub-menu {
            display: block;
            opacity: 1;
            visibility: visible;
        }
        &--primary{
            a{
                font-size: 1.4rem;
                color: $blanc;

                &:hover{
                    color: $vert;
                }
            }
        }
    }

    @include bp1600 {
        &--primary{
            a{
                font-size: 2rem;
            }
        }
    }

}
