
/* Prev / Next
--------------------------------------------------------------- */

.prev-next {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);
    margin-top: 20px;
    width: 100%;

    @include bp800 {
        @include justify-content(flex-end);
    }

    > div {
        width: 100%;
        margin: 2px 0;

        @include bp480 {
            width: auto;
            margin: 0;

            &:last-of-type {
                margin-left: 10px;
            }
        }
    }

    a {
        display: block;        
        padding: 20px 25px;        
        text-decoration: none;
        color: $blanc !important;
        background: $noir;

        &:hover {
            background: $jaune;
            color: $noir !important;
        }
    }
}